.container
    .row
        .col-md-3
            .thumbnail
                img.avatar(ng-src='images/{{ user.imageUrl }}', alt='avatar')
                h4 Personal information:
                ul.list-group
                    li.list-group-item
                        i.fa.fa-user
                        span.list-group-item-text  {{user.username}}
                    li.list-group-item
                        i.glyphicon.glyphicon-user
                        span.list-group-item-text  {{user.firstName + ' ' + user.lastName}}
                    li.list-group-item
                        i.glyphicon.glyphicon-phone
                        span.list-group-item-text  {{user.phone}}
                    li.list-group-item
                        i.glyphicon.glyphicon-globe
                        span.list-group-item-text  {{user.city}}
                    a(href='#/send-message/{{user.username}}')
                        li.list-group-item
                            i.fa.fa-envelope
                            span.list-group-item-heading  Send message
        .col-md-8
            div(data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true")
            div(items-grid items="user.items" num="numPerPage")