h3
    i.glyphicon.glyphicon-briefcase
    |  Admin panel
hr
ul.nav.nav-stacked
    li
        a(href='#/administration')
            i.glyphicon.glyphicon-dashboard
            |  Dashboard
    li
        a(href="#/admin/users")
            i.fa.fa-users
            |  Users
    li
        a(href="#/admin/items")
            i.fa.fa-shopping-cart
            |  Items
