.container
    .row
        .col-md-3
            .thumbnail
                img.avatar(ng-src='images/{{ user.imageUrl }}', alt='avatar')
                h4 Personal information:
                ul.list-group
                    li.list-group-item
                        i.fa.fa-user
                        span.list-group-item-text  {{user.username}}
                    li.list-group-item
                        i.glyphicon.glyphicon-user
                        span.list-group-item-text  {{user.firstName + ' ' + user.lastName}}
                    li.list-group-item
                        i.glyphicon.glyphicon-phone
                        span.list-group-item-text  {{user.phone}}
                    li.list-group-item
                        i.glyphicon.glyphicon-globe
                        span.list-group-item-text  {{user.city}}
                    a(href='#/settings')
                        li.list-group-item
                            i.fa.fa-gear
                            span.list-group-item-heading  Settings

        .col-md-9.well
            ul.nav.nav-tabs
                li.active
                    a(href="#inbox" target="_self" data-toggle="tab")
                        span.glyphicon.glyphicon-inbox
                        |  Inbox
                li
                    a(href="#sent" target="_self" data-toggle="tab")
                        span.glyphicon.glyphicon-user
                        |  Sent
            .tab-content
                .tab-pane.active#inbox
                    .list-group
                        .list-group-item(ng-repeat="message in messages", ng-if="messages")
                            .row
                                a(data-toggle="collapse", data-parent="#accordion" href="#colapse{{message._id}}" target="_self")
                                    img.col-xs-1.media-object(ng-src="images/{{ message.from.imageUrl }}" alt="avatar")
                                    span.text-muted.col-xs-2 {{message.from.username}}
                                    span.label.label-default {{message.date | date}}
                                    span.label.label-danger(ng-hide="message.read") New
                                    .col-xs-3 {{message.title}}

                                a.col-md-2.pull-right(href="#/send-message/{{message.from.username}}")
                                    i.fa.fa-reply
                                    |  Reply
                            .collapse(id="colapse{{message._id}}")
                                    .col-md-offset-2.well {{message.content}}
                        .list-group-item(ng-hide="messages")
                            h3.text-info No messages

                .tab-pane#sent
                    .list-group
                        .list-group-item(ng-repeat="message in messagesByMe", ng-if="messagesByMe")
                            .row
                                a(data-toggle="collapse", data-parent="#accordion" href="#colapse-send-{{message._id}}" target="_self")
                                        img.col-xs-1.media-object(ng-src="images/{{ message.to.imageUrl }}" alt="avatar")
                                        span.text-muted.col-xs-2 {{message.to.username}}
                                        span.label.label-default {{message.date | date}}
                                        .col-xs-3 {{message.title}}

                                a.col-md-2.pull-right(href="#/send-message/{{message.to.username}}")
                                    i.fa.fa-plus
                                    |  new
                            .collapse(id="colapse-send-{{message._id}}")
                                .col-md-offset-2.well {{message.content}}
                        .list-group-item(ng-hide="messagesByMe")
                            h3.text-info No messages


//TODO: chnage sent messages collection