.container
    form.form-horizontal(name="sendMessageForm")
        fieldset
            legend Send Message
            .form-group
                label.col-md-2.control-label(for="title") Title
                .col-md-10
                    input#title.form-control(type="text", placeholder="Title", ng-model="message.title", required)
            .form-group
                label.col-md-2.control-label(for="content") Content
                .col-md-10
                    textarea#content.form-control(placeholder="Content", ng-model="message.content")
                button.btn.btn-primary.btn-lg(ng-click="sendMessage(message, sendMessageForm)", ng-disabled="sendMessageForm.$invalid") Send
                a.btn.btn-danger.btn-lg(href="#/") Cancel