.container
    form.form-horizontal(name="updateItemForm")
        fieldset
            legend Update Offer
            .col-md-6
                .form-group
                    label.col-md-2.control-label(for="title") Title
                    .col-md-10
                        input#title.form-control(type="text", placeholder="Title", ng-model="item.title", required)
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        input#description.form-control(type="text", placeholder="Description", ng-model="item.description")
                .form-group
                    label.col-md-2.control-label(for="categories") Category
                    .col-md-10
                        select#categories.form-control(ng-model="item.category", required)
                            option(ng-repeat="category in categories", value="{{category.name}}") {{category.name}}
                .form-group
                    label.col-md-2.control-label(for="price") Price
                    .col-md-10
                        input#price.form-control(type="text", placeholder="Price", ng-model="item.price")
                .form-group
                    label.col-md-2.control-label(for="image") Image
                    .col-md-10
                        input.form-control(type="file", file-model="item.image", accept="image/*")
                .pull-right
                    button.btn.btn-primary.btn-lg(ng-disabled="updateItemForm.$invalid" ng-click="update(item)") Update
                    a.btn.btn-danger.btn-lg(href="#/profile") Cancel
            .col-md-6
                img(src="{{ currentImg }}", ng-style="{'max-width':'100%'}")